{
  "presets": ["@vue/app"{{#flow}}, "flow-vue"{{/flow}}],
  "plugins": ["babel-plugin-espower"],
  "env": {
    "test": {
      "plugins": ["istanbul"],
      "presets": ["power-assert"]
    }
  }
}
