{
  "root": true,
  "parser": "babel-eslint",
  "extends": "vue"{{#flow}},
  "plugins": ["flow-vars"],
  "rules": {
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1
  }{{/flow}}
}
