{
  "globals": {
    "describe": true,
    "context": true,
    "it": true,
    "before": true,
    "after": true,
    "beforeEach": true,
    "afterEach": true,
    "process": true
  },
  "extends": "vue"
}
